#cartTbl tr,
#cartTbl th,
#cartTbl button {
    text-align: center;
}

#productTbl tr,
#productTbl th,
#productTbl button {
    text-align: center;
}

.cTbl {
    /* display: none; */
    width: 65%;
    background-color: rgb(227, 227, 227);
    position: fixed;
    top: 25%;
    left: 18%;
    padding: 10px;
    border-radius: 10px;
    transform: translateY(-175%);
    transition: opacity 0.3s ease, transform 0.6s ease;
    z-index: 100;
}

.cTbl.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.6s ease;
}

.overlay {
    filter: blur(5px);
    z-index: 99;
}

.heading {
    display: flex;
    justify-content: space-between;
}

#close_cart {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}