#cartTbl * {
    text-align: center;
}

#productTbl * {
    text-align: center;
}

.cTbl {
    opacity: 0;
    display: none;
    width: 65%;
    background-color: rgb(227, 227, 227);
    position: fixed;
    top: 25%;
    left: 18%;
    padding: 10px;
    border-radius: 10px;
    transition-property: display opacity;
    transition-duration: 0.8s;
    transition-behavior: allow-discrete;
}

.cTbl.show {
    opacity: 1;
    display: block;

    @starting-style {
        opacity: 0;
    }
}

.overlay {
    filter: blur(5px);
    z-index: 99;
}

.heading {
    display: flex;
    justify-content: space-between;
}

#close_cart {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}